@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<BECanvas Width="300" Height="400" @ref="_canvasReference" @ref:suppressField></BECanvas>

@code
{


    private Canvas2DContext _context;

    protected BECanvasComponent _canvasReference;

    protected override async Task OnAfterRenderAsync()
    {
        this._context = await this._canvasReference.CreateCanvas2DAsync();
        await this._context.SetFillStyleAsync("green");

        await this._context.FillRectAsync(10, 100, 100, 100);

        await this._context.SetFontAsync("48px serif");
        await this._context.StrokeTextAsync("Hello Blazor!!!", 10, 100);
    }
}